body{
	margin: 0;
	font-family: 'grande';
	font-size:100%;
	background: url(../img/bg.png) no-repeat;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.login-form{
	display: block;
	position: relative;
	top: 50px;
	width: 650px;
	height: 400px;
	margin: 0 auto;
	border-radius: 5px;
	background-color:#fff;
}

.login-form_wrapper{
	display: block;
	position: relative;
	width: 100%;
	height: calc( 100% - 25px);
	padding-top: 25px;
	margin: 0;
}

.clear{
	clear:both;
}

.contact-form_title{
	display: block;
	position: relative;
	width: 100%;
	height: 135px;
	padding: 0;
	margin: 0;
}

.contact-form_title__quora-logo{
	display: block;
	position: relative;
	width: 225px;
	height: 80px;
	margin: 0 auto;
}

.contact-form_title__quora-logo img{
	width: 100%;
	height: 100%;
}

.contact-form_title__quora-slogan{
	display: block;
	position: relative;
	width: 100%;
	height: 25px;
	margin: 15px 0 15px 0; 
}

.contact-form_title__quora-slogan span{
	display: block;
	position: relative;
	line-height: 25px;
	width: 100%;
	text-align: center;			
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
 	font-size: 18px;
	font-weight: 400;
	color: #999;
}

.contact-form_login-options {
	display: block;
	position: relative;	
	width: calc( 100% - 30px - 30px );
	height: calc( 100% - 135px - 30px - 30px );
	padding: 30px;
	margin: 0;
}

.contact-form_login-options__wrapper{
	float: left;
	display: block;
	position: relative;
	width: calc( 50% - 0.5px - 25px );
	height: 100%;	
}

.contact-form_login-options__social-buttons{
	padding-right: 25px;
	margin: 0;
	border-right: 1px solid #3333;
}

.contact-form_login-options__input-fields {
	padding-left: 25px;
	margin: 0;
}

.contact-form_login-options__email-login{
	display: block;
	position: relative;
	width: 100%;
	height: calc( 100% - 2 * (25px + 8px + 8px +20px) );
	line-height: 15px;
	text-align: left;			
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-size: 14px;
	font-weight: 400;
	color: #999;
}


.contact-form_login-options__email-login a{
	text-decoration: none;
}

.contact-form_login-options__email-login a:hover{
	text-decoration: underline;
}

.contact-form{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.contact-form-login-options__form span{
	display: block;
	position: relative;
	line-height: 17px;
	width: 100%;
	margin-bottom: 8px; 
	text-align: left;			
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 400;
	color: #333333;
}

.contact-form-login-options__form ul {
	list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}

.contact-form-login-options__form li{ 
	float: left;
	position: relative;
	outline: none;
	font-size: 1.2em;
	color: #B6B6B6;
	width: 100%;
	font-weight: 600;
	height: 40px;
	margin-bottom: 8px;
}

.contact-form-login-options__form input:hover{ 
	background-color:#f0eeee;
}

.contact-form-login-options__form-inputs input {
	float: left;
	font-size: 15px;
	font-family: 'grande';
	padding: 3px 8px;
	width: calc( 100% - 8px - 8px );
	height: calc( 100% - 3px - 3px - 8px );
	margin-bottom: 8px; 
	border: 1px solid #c7c7c7;
	border-radius: 3px;
	background-color: #e5e5e5;
}

.contact-form-login-options__form p {
	float: right;
	padding: 8px 7px;
	width: 9.3%;
	cursor: pointer;
}
.contact-form-login-options__form i{
	font-size: 1em;
	color:#B6B6B6;
	width: 40%;
	float: left;
}

.contact-form-login-options__form__forget-button{
	float: left;
	display: block;
	position: relative;
	width: 130px;
	height: 17px;
}

.contact-form-login-options__form__forget-button a{
	display: block;
	position: relative;
	line-height: 17px;
	width: 100%;
	text-align: left;			
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	color:#999;
}
.contact-form-login-options__form__forget-button a:hover{
	text-decoration: underline;
}

.contact-form-login-options__form input[type="submit"] {
	float: left;
	display: block;
	position: relative;
	border: none;
	outline: none;
	cursor: pointer;
	width: 60px;
	height: 30px;
	border-radius: 3px;
	font-size: 15px;
	color: #fff;
	background-color: #79B42B;
	margin-left: calc( 100% - 130px - 60px ); 
}	

.contact-form-login-options__form input[type="submit"]:hover {
	background-color:#88C470;
}	


.account{
	float:left;
	width: 50%;
}

.social-buttons{
	display: block;
	position: relative;
	margin: 0;
	padding-bottom: 20px; 
}

.social-buttons-wrapper{
	display: block;
	position: relative;
	width: calc( 100% - 8px - 8px );
	height: 25px;
	padding: 8px;
	border-radius: 3px;
}

.facebook-button {
	display: block;
	background: #3b5998;
	
}
.social-buttons img {
	float: left;
	display: block;
	width: 25px;
	height: 25px;
	padding-left: 10px; 
}

.social-buttons-wrapper_button-text{
	float: left;
	display: block;
	position: relative;
	line-height: 25px;
	width: calc( 100% - 10px - 25px - 5px - 5px );
	text-align: center;			
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
 	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.google-button{
	display: block;
	background: #df4930;
}

.facebook-button:hover {
	background:#6898ff;
}

.google-button:hover {
	background: #ff6c52;
}

/*       */

.page{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fafafa;
}

.page-wrapper{
	height: 100%;
}

.page-main{
	height: 100%;
	margin: 0 auto;
	width: 1000px !important;
	display: block;
}

.page-holder{
	display: block;
	position: relative;
	margin-top: 12px;
}

.navbar {
	overflow: hidden;
	background-color: #fff;
}
.bar{
	margin-right: 12%; 
	margin-left: 12%;
}
.logo img{
	float: left;
	width: 70px;
	height: 20px;
	
}
.user {
	float: right !important;
	padding: 8px !important;
}
.user img{
	border-radius: 50%;
	width: 26px;
	height: 26px;
}

.navbar a {
	float: left;
	color: #5f5e5e;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 17px;
}
.navbar a:hover {
	background-color: #efeae9;
	border-bottom: 3px solid #efeae9;
}
.navbar a.active {
	color: #be3c38;
	background-color: white; 
	border-bottom: 3px solid #be3c38;
}

.bar input[type=text] {
	height: 29px;
	width: 35%;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	padding-left: 26px;
	margin-top: 7px;
	background: url(../img/search.png) no-repeat 8px center;
	background-size: 13px;
}

.button {
	float: right;
	background-color: #be3c38;
	color: white;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 9px 2px;
	cursor: pointer;
	border: 0;
	border-radius: 3px;
}


.side-menu{
	position: relative;
	width: 170px;
	display: block;
}

.side-menu-wrapper{
	float: left;
	position: fixed;
	width: 170px;
}

.side-menu-wrapper img{
	float: left;
	display: block;
	width: 18px;
	height: 18px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.side-menu-wrapper_blocks__text{
	display: block;
	position: relative;
	text-align: left;		
	text-overflow: ellipsis;
	white-space: normal;
	font-weight: 400;	
	text-transform: capitalize;
	text-decoration: none;
	font-size: 14px;
}

.side-menu-wrapper_title-block__feed{
	float: left;
	display: table-cell;
	position: relative;
	width: 50%;
	line-height: 13px;
	vertical-align: text-bottom;
	font-size: 18px;
	padding-top: 10px;
	color: #333;
}

.side-menu-wrapper_title-block a{
	float: left;
	display: inline-block;
	position: relative;
	width: 50%;
	line-height: 13px;
	vertical-align: bottom;
	text-align: right;		
	font-size: 14px;
	padding-top: 10px;
	color: #999;
}

.side-menu-wrapper_title-block a:hover{
	text-decoration: underline;
}

.side-menu-wrapper_options-block-wrapper{
	display: block;
	position: relative;
	height: 30px;
	width: 100%;
	padding-bottom: 5px;
	margin: 0;
	border: 0;
}

.side-menu-wrapper_title-block-wrapper{
	width: 100%;
	height: calc( 100% - 8px );
	padding-bottom: 8px;
	border-bottom: 1px solid #3333;
}

.side-menu-wrapper_title-block{
	width: calc( 100% - 28px );
	height: 32px;
	padding-left: 28px;
	margin-bottom: 8px;
}

.side-menu-wrapper_options-block-wrapper__text-img-bundle{
	width: 100%;
	display: inline-block;
}

.side-menu-wrapper_options-block-wrapper__text-img-bundle img{
	float: left;
	display: block;
	position: relative;
	width: 14px;
	height: 14px;
	padding: 8px 14px 8px 0;  
}

.side-menu-wrapper_options-block-wrapper__text-img-bundle span{
	float: left;
	display: block;
	position: relative;
	line-height: 30px;
	width: calc( 100% - 28px );
	color: #666666;
}

.side-menu-wrapper_options-block-wrapper:hover .side-menu-wrapper_blocks__text{
	color: #0026ff;
}



